.jumbotron {
	padding-top: 2rem;
	padding-bottom: .5rem;
}

img {
	margin-right: 1.3rem;
}

.homepageButtons {
	width: 100%;
	display: inline-flex;
	margin: 1.5rem;
}


/*body {
	background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
	background-position: bottom;
}

@import url('https://fonts.googleapis.com/css?family=Ruda:900');

@keyframes bp {
	from {
		background-position: 198px 0;
	}

	to {
		background-position: 0 198px;
	}
}*/

.card-body {
	text-align: center;
}

.card {
	flex-shrink: 0;
	flex-grow: 0;
	min-width: 100%;
	margin-top: 1rem;
	border: 1px solid grey;
}

h1 {
	font-size: 1.5rem;
}

.bg-primary {
	background-color: #007bff8a !important;
}

#resumeIntro {
	font-size: 1.5rem;
}

#resumeSection {
	padding: 2rem;
}

.resumeHeading {
	padding: 1rem;
	border-bottom: 1.5px solid;
}

.resumeListingWrapper {
	padding: 1rem;
}

.jumbotron {
	background-color: unset;
}

#profileImage {
	width: 305px;
}

li {
	padding: .5rem;
}

.navbar {
	background: #00B4DB; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#styledHeadingAddition {
	font-style: italic;
	font-size: 2.5rem;
}

footer {
padding-left: 2rem;
padding-right: 2rem;
}

#startingABrandFromScratchFigure > img {
        display: block;
    margin-left: auto;
    margin-right: auto;
}

.musingsWrapper {
    margin: 3% 30% 3% 25%;
    line-height: 2;
    color: #3d3d3d;
    font-size: 18px;
    font-family: "Proxima Nova",ProximaNova-Light,Arial,"Helvetica Neue",Helvetica,sans-serif;
    text-align: justify;
}

.text-muted {
    color: #6c757d!important;
    font-size: 15px;
    padding-left: 41px;
    padding-top: 5px;
}
