body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.Home h1 {
  margin-bottom: 1.5rem;
}

.Home p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

.danielPuiattiProfileImage img {
  width: 270px;
  height: auto;
  float: left;
  margin: 1rem;
}