body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
* === Navigation Component ===
*/

.Home .nav-link {
  font-size: 1.4rem;
  color: #1a5e63;
}

.Navigation .nav-tabs .nav-link {
  color: #1a5e63;
  font-size: 1.4rem;
  border: unset;
  letter-spacing: 2px;
}

.Navigation .nav-tabs .nav-link.active {
  color: white;
  background-color: #80deea;
  font-size: 1.4rem;
  border: unset;
  text-shadow: 2px 1px #1a5e63;
}

/*
* === Home Page ===
*/

.Home .jumbotron {
  background-color: #80deea;
}

.Home h1 {
  margin-bottom: 1.5rem;
  color: #1a5e63;
  text-shadow: 1.5px 1.5px #dfe0db;
}

.Home p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  /* color: white; */
}

.Home .introParagraphWrapper {
  /* background:  #669bd6; */
}

.Home .introParagraphOne {
  background: #1a5e63;
  color: white;
  -webkit-animation: slide-in-fwd-bottom 2.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 0;
  position: relative;
}

.Home .introParagraphTwo {
  -webkit-animation: slide-in-fwd-bottom 2.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 2.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 0;
  position: relative;
}

.Home .introParagraphThree {
  -webkit-animation: slide-in-fwd-bottom 2.9s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 2.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 0;
  position: relative;
}

.Home .jumbotron {
  box-shadow: -3px 3px 6px 1px #1a5e63;
}

.danielPuiattiProfileImage img {
  width: 270px;
  height: auto;
  float: left;
  position: relative;
  z-index: 1;
}

/*
* === PORTFOLIO THUMBNAIL COMPONENT ===
*/

.PortfolioThumbnails {
  box-shadow: -3px 3px 6px 1px #1a5e63;
  padding: 4rem 2rem;
  margin-bottom: 10px;
  background: #80deea;
  -webkit-animation: slide-in-fwd-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.PortfolioThumbnails .container {
}

.PortfolioThumbnails img {
  margin: 1rem 0 1rem 0;
}

/*
* === PORTFOLIO PAGE ===
*/

.Portfolio h3 {
  margin-bottom: 1.5rem;
  color: #1a5e63;
  text-shadow: 1.5px 1.5px #dfe0db;
  font-size: 2rem;
  border-bottom: 1.5px solid #1a5e63;
}

.Portfolio p,
.Portfolio li {
  color: #1a5e63;
}

.portfolioPageSubHeading {
  font-size: 1.1rem;
}

.Portfolio .jumbotron {
  background-color: white;
}

.Portfolio .jumbotron img {
  width: 300px;
  box-shadow: 0 0 5px 1px #80deea, 0 0 6px 1px #1a5e63;
}

.Portfolio .portfolioJumbotronContentWrapper {
  overflow: auto;
}

.Portfolio .portfolioJumbotronContentWrapper .portfolioCallToActionLink {
  color: #1a5e63;
  font-size: 1.3rem;
  display: inline-block;
  font-weight: 600;
}

.Portfolio .portfolioJumbotronContentWrapper .portfolioCallToActionLink:hover {
  color: #80deea;
}

/*
* === BLOG PAGE ===
*/

.BlogIndex {
  background: #80deea;
  padding: 4rem 2rem;
  -webkit-animation: slide-in-fwd-bottom 0.5s
  cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
animation: slide-in-fwd-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
box-shadow: -3px 3px 6px 1px #1a5e63;
}

.BlogIndex .card-deck {
  margin-top: 20px;
}

.BlogIndex .card-body {

}

.BlogIndex .card-title {
  color: #1a5e63;

  font-size: 1.2rem;

}


.BlogIndex .card-footer {
  background: #1a5e63;
  letter-spacing: 2px;
  background: #1a5e63;;
}


.BlogIndex .card-footer .text-muted {
color: #80deea!important;
  letter-spacing: 2px;
  font-size: 1.1rem;
    font-weight: 600;
    
}

.BlogIndex .blogIndexWrapper {
  padding: 4rem 2rem;
  background: white;
}

/*
* === SERVICES PAGE ===
*/

.Services .servicesWrapper {
  box-shadow: -3px 3px 6px 1px #1a5e63;
  margin-bottom: 10px;
  background: #80deea;
  -webkit-animation: slide-in-fwd-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.Services .card {
  border: unset;
  background-color: #80deea;
}

.Services .card-body {
  text-align: center;
  background: #80deea;
}

.Services .card-text {
  color: #212529;
  letter-spacing: 2px;
  font-weight: 600;
}

.Services .card-title {
  background: #1a5e63;
  color: white;
  padding: 2px;
  letter-spacing: 2px;
}

.card img {
  width: 100px;
}

.Services #testimonials {
  margin: 5%;
  color: #1a5e63;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.Services .carousel.slide {
  width: 100%;
  height: 300px;
}

.Services .carousel-caption {
  color: #1a5e63;
  position: unset;
  padding: 0 10% 0 10%;
  font-size: 1.3rem;
  text-align: justify;
  font-weight: 400;
  line-height: 2;
}

.Services .carousel-caption .testimonialName {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 1px solid black;
}

.Services .carousel-caption .testimonialPosition {
  text-align: center;
  font-style: italic;
}

.Services .carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #1a5e63;
}

.Services .carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #1a5e63;
}

.Services .carousel-indicators {
  display: none;
}

.Services .carousel-inner {
  margin-bottom: 5%;
}


/*
* === CONTACT PAGE ===
*/

.Connect {
background: #80deea;
padding: 4rem 2rem;
-webkit-animation: slide-in-fwd-bottom 0.5s
cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
animation: slide-in-fwd-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
box-shadow: -3px 3px 6px 1px #1a5e63;
}

.Connect .card {
  background-color: rgb(128, 222, 234);
  border: unset;
}

.Connect .card:hover {
 
  border: 1px solid #1a5e63;
}



.Connect .card-body {
  text-align: center;
  background: #80deea;
}

.Connect .card-title {
  background: #1a5e63;
  color: white;
  padding: 2px;
  letter-spacing: 2px;
}

/*
* === RESPONSIVE DESIGN ===
*/

@media (min-width: 320px) {
  /*
* — Home page @ 320px  —
*/
  .danielPuiattiProfileImage img {
    position: relative;
    z-index: 1;
    width: 290px;
  }

  /*
* — Portfolio page @ 320px  —
*/
  .Portfolio h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.1rem;
  }

  .Portfolio .jumbotron {
    margin-bottom: 10px;
  }

  /*
* — Services page @ 320px  —
*/

  .Services .carousel-caption {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 20% 0 20%;
  }
}

@media (min-width: 375px) {
  /*
* — Home page @ 375px  —
*/
  .danielPuiattiProfileImage img {
    margin: 1rem 1.5rem 1rem 1.5rem;
    width: 300px;
  }
}

@media (min-width: 425px) {
  /*
* — Home page @ 425px  —
*/
  .danielPuiattiProfileImage img {
    margin: 1rem 1.5rem 1rem 3rem;
  }
}

@media (min-width: 768px) {
  /*
* — Home page @ 768px  —
*/

  .danielPuiattiProfileImage img {
    margin: 4rem 3rem 7rem 0rem;
  }
}

@media (min-width: 1024px) {
  /*
* — Home page @ 1024px  —
*/

  .danielPuiattiProfileImage img {
    margin: 1rem 4rem 1rem 1.5rem;
    position: relative;
    z-index: 1;
  }

  .Home h1 {
    font: bold 300% Consolas, Monaco, monospace;
    border-right: 0.1em solid white;
    width: 16.5em;
    width: 21ch;

    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 1s steps(21, end),
      blink-caret 0.5s step-end infinite alternate;
  }

  .Home .introParagraphOne {
    z-index: 0;
    position: relative;
  }

  .Home .introParagraphTwo {
    z-index: 0;
    position: relative;
  }

  .Home .introParagraphThree {
    z-index: 0;
    position: relative;
  }

  .PortfolioThumbnails img {
    box-shadow: 0 0 5px 1px #80deea, 0 0 6px 1px #1a5e63;
  }

  /*
* — Portfolio page @ 1024px  —
*/

  .Portfolio .jumbotron img {
    float: left;
  }

  .Portfolio .portfolioJumbotronContentWrapper ul li,
  .Portfolio .portfolioJumbotronContentWrapper h3,
  .Portfolio .portfolioJumbotronContentWrapper p {
    margin-left: 20px;
  }

  /*
* — Services page @ 1024px  —
*/

  .Services .servicesWrapper {
    padding: 4rem 2rem;
  }

  .Services .carousel-control-next-icon:after {
    margin-left: 20px;
  }

  .Services .carousel-control-prev-icon:after {
    margin-left: -50px;
  }
}

@media (min-width: 1440px) {
  /*
* — Home page @ 1440px  —
*/

  .danielPuiattiProfileImage img {
    margin: 1rem 1.5rem 1rem 1.5rem;
    margin: 1rem 4rem 1rem 1.5rem;
    position: relative;
    z-index: 1;
  }

  .Home h1 {
    font: bold 300% Consolas, Monaco, monospace;
    border-right: 0.1em solid white;
    width: 16.5em;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 1s steps(21, end),
      blink-caret 0.5s step-end infinite alternate;
  }

  .Home .introParagraphOne {
    z-index: 0;
    position: relative;
  }

  .Home .introParagraphTwo {
    z-index: 0;
    position: relative;
  }

  .Home .introParagraphThree {
    z-index: 0;
    position: relative;
  }

  /*
* — Portfolio page @ 1440px  —
*/

  .Portfolio .jumbotron img {
    float: left;
  }

  .Portfolio .portfolioJumbotronContentWrapper ul li,
  .Portfolio .portfolioJumbotronContentWrapper h3,
  .Portfolio .portfolioJumbotronContentWrapper p {
    margin-left: 20px;
  }

  /*
* — Services page @ 1440px  —
*/

  .Services .servicesWrapper {
    padding: 4rem 2rem;
  }

  .Services .carousel-control-next-icon:after {
    margin-left: 20px;
  }

  .Services .carousel-control-prev-icon:after {
    margin-left: -50px;
  }
}

/**
 * ----------------------------------------
 * animation typing style
 * ----------------------------------------
 */

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-bottom for portfolip thumbnails
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-13 12:58:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-13 13:0:45
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
